
* {
    -fx-font-family: "Assistant";
}

/* VBox Products Description */

#ItemDescription
{
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-pref-width: 198.0;
    -fx-alignment: center;
}

#PlusButton {
    -fx-max-width: 34.0;
    -fx-min-width: 34.0;
    -fx-pref-width: 34.0;

    -fx-cursor: hand;

    -fx-background-color: transparent;
    -fx-border-color: #FDB926;
    -fx-border-width: 2;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

#MinusButton {
    -fx-cursor: hand;
    -fx-max-width: 34.0;
    -fx-min-width: 34.0;
    -fx-pref-width: 34.0;

    -fx-background-color: transparent;
    -fx-border-color: #FDB926;
    -fx-border-width: 2;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

#AddToCartHBox {
    -fx-alignment: center;
    -fx-pref-width: 47.0;
    -fx-pref-height: 280.0;
}

#QuntityField {
    -fx-pref-width: 58.0;
    -fx-pref-height: 25.0;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
 }

 .scroll-pane {
    -fx-background-color: transparent;
 }

#gridAnchor {
    -fx-background-color: #EEEEEE;
    -fx-border-color: black;
    -fx-border-size: solid;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0)
}

#ProductName {
    -fx-font-size:14;
}
#ProductDesc {
    -fx-font-size:18;
}
#CancelOrder
{
    -fx-cursor: hand;
    -fx-font-size: 18;
    -fx-border-color: red;
    -fx-border-radius: 40;
    -fx-background-color: transparent;
}

#CancelOrder:hover {
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-background-radius: 40;
}

#GetOrder
{
    -fx-cursor: hand;
    -fx-font-size: 18;
    -fx-border-color: green;
    -fx-border-radius: 40;
    -fx-background-color: transparent;
}

#GetOrder:hover {
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-background-color: green;
    -fx-background-radius: 40;
}

#buttonFixed
{
    -fx-font-size: 18;
    -fx-border-color: black;
    -fx-border-radius: 40;
    -fx-background-color: transparent;
}

.grid-pane > * {
    -fx-min-height: 30 ;
}
#AddButton {
    -fx-background-color: #FDB926;
    -fx-font-size: 16;
    -fx-border-radius: 20;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}


#ShoppingCartHBox {
    -fx-background-color: #FDB926;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2;
}
