.combo-box {
    -fx-background-color: #d3d3d3;
    -fx-background-radius: 15;
    -fx-background-inset: 0;
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.combo-box .list-view {
    -fx-background-color: #d3d3d3;
}