.combo-box {
    -fx-background-color: #d3d3d3;
    -fx-background-radius: 4;
    -fx-background-inset: 0;
    -fx-font-family: "Arial";
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.combo-box .list-view {
    -fx-background-color: #d3d3d3;
}

.combo-box .list-view {
    -fx-background-color: #d3d3d3;
    -fx-background-radius: 0;
}
.combo-box .list-view .list-cell {
    -fx-font-size: 11px;
    -fx-background-radius: 0;
}
