#btnAcceptInvoice {
	-fx-border-color: green;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
    -fx-background-color:  transparent;
}

#btnAcceptInvoice:hover {
	-fx-background-color: green;
	-fx-border-color: black;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
    -fx-text-fill: white;
}

#btnCancelInvoice {
	-fx-border-color: red;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
    -fx-background-color:  transparent;
}

#btnCancelInvoice:hover {
	-fx-background-color: red;
	-fx-border-color: black;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
    -fx-text-fill: white;
}

#btnPayLater {
	-fx-border-color: #FDB926;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
    -fx-background-color:  transparent;
}

#btnPayLater:hover {
	-fx-background-color: #FDB926;
	-fx-border-color: black;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
    -fx-text-fill: white;
}