

#ChangeButton {
    -fx-border-color: #FDB926;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color:  transparent;
}


#CloseButton {
	-fx-font-size: 18;
    -fx-border-color: black;
    -fx-border-radius: 40;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

#FullPriceSale {
	-fx-font-size:16;
	-fx-strikethrough: true;
}

#DiscountPriceSale {
	-fx-font-size:16;
	-fx-fill: red;
}

#CloseButton:hover {
	-fx-background-color: #f06236;
	-fx-background-radius: 40;
	-fx-cursor: hand;
}

#ProductName{
    -fx-font-size: 17;
}

#currentState {
	-fx-background-color: #f06236;
	-fx-background-radius:70;
}

#ProdcutDescription{
    -fx-font-size: 16;
}

#currentState {
	-fx-background-color: #f06236;
	-fx-background-radius:70;
}

#btnAcceptInvoice {
	-fx-border-color: green;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
    -fx-background-color:  transparent;
}

#btnAcceptInvoice:hover {
	-fx-background-color: green;
	-fx-border-color: black;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
    -fx-text-fill: white;
}

#btnCancelInvoice {
	-fx-border-color: red;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
    -fx-background-color:  transparent;
}

#btnCancelInvoice:hover {
	-fx-background-color: red;
	-fx-border-color: black;
	-fx-border-radius: 20;
	-fx-background-radius: 20;
    -fx-text-fill: white;
}
.AnchorPane {
	-fx-background-color:transparent;
}

#buttonFixed:hover {
	-fx-background-color: #f06236;
	-fx-background-radius: 40;
	-fx-cursor: hand;
}

#buttonFixed {
	-fx-font-size: 18;
    -fx-border-color: black;
    -fx-border-radius: 40;
    -fx-background-radius:40;
    -fx-background-color:  #FDB926;
    
}

.ScrollPane {
	-fx-background-color:transparent;
}
#Quantity{
    -fx-text-fill: red;
}

#BorderBoxSizing {
    -fx-border-color: transparent transparent black transparent;
}